<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BlockedFile" value="Data\blocked.txt"></add>
    <add key="LogFile" value="Data\EVIPBlocker_Log_"></add>
    <add key="MinutesScan" value="10"></add>
    <add key="RDPPort" value="43884"></add>
    <add key="UseRDP" value="true"></add>
    <add key="UseHTTP" value="true"></add>
    <add key="UseNonHTTP" value="true"></add>
    <add key="NonHTTPChecked" value=""></add>
    <add key="HTTPChecked" value=""></add>
    <add key="Threshold" value="2"></add>
    <add key="RemoveBlock" value="N"></add>
    <add key="RDPPort" value="3389"></add>
    <add key="RemoveAfterHour" value="1"></add>
    <add key="IPRegex" value="\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b"></add>
    <add key="SuccessTypes" value="Security=4624=An account was successfully logged on=RDP"></add>
    <add key="LogTypes" value="Security=4625=An account failed=RDP|Application=18456=Login failed for user=MSSQL"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
